.sales-screen {
    margin-left: 20px;
}

.screen-content-reservas {
    position: relative;
    text-align: left;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}
